header.banner{
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background-image: url("/images/img/header-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
background-size: cover;
height: 100vh;
}
header.banner .banner-subheading{
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
    font-family: "Roboto slab",'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header.banner .banner-heading{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header.banner .btn{
background-color: #ffc800;
border: none;
font-weight: 500;
}
@media (min-width:768px){
    header.banner{
        padding-top: 17rem;
        padding-right: 12.5rem;
    }
    header.banner .banner-subheading{
        font-size: 2.25rem;
        font-style: italic;
        line-height: 2.25rem;
        margin-bottom: 2rem;
    }
    header.banner .banner-heading{
        max-width: 50rem;
        margin-left: auto;
        margin-right: auto;
    }
}
.page-section{
    padding: 6rem;
}
.page-section h2.section-heading{
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;

}
.page-section h3.section-subheading{
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: "roboto slab";
    margin-bottom: 4rem;
}
@media(min-width:768px){
    .page-section{
        padding: 9rem;
    }
    #mainNav{
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #212529;
    }
    #mainnav .navbar-toggler{
        padding: 0.75rem;
        font-size: 0.75rem;
        font-family: "montserrat";
        text-transform: uppercase;
        font-weight: 700;
    }
    #mainNav .navbar-brand{
        color: #ffc107;
        font-family: "montserrat";
        font-weight: 700;
        letter-spacing: 0.0625rem;
        text-transform: uppercase;
    }
    /*mainNav img{
    height: 1.5rem;
} */
 #mainNav .navbar-nav .nav-item .nav-link{
    font-family: "montserrat";
    font-size: 0.95rem;
    color: #fff;
    letter-spacing: 0.0625rem;
 }
  #mainNav .navbar-nav .nav-item .nav-link:hover{
    color: #ffc107;

  }
}

#portfolio .portfolio-item{
    max-width: 26rem;
    margin-left: auto;
    margin-right: auto;
}

#portfolio .portfolio-item .portfolio-link{
     position:relative;
    display: block;
    margin: 0;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(153, 200, 0, 0.948);
    align-items: center;
    justify-content: center;
    opacity:0;
    transition: ease-in-out 0.25s;

}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content{
    font-size: 1.25rem;
    color: #fff;

}
#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover{
    opacity: 1;
}
#portfolio .portfolio-item .portfolio-caption{
    padding: 1.5rem;
    text-align: center;
    background-color: #fff;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading{
    font-size: 1.5rem;
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    margin-bottom: 0;

}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading{
    font-style: italic;
    font-family: "Roboto slab",sans-serif;

}
.timeline{
    position: relative;
    padding: 0;
    list-style: none;

}
.timeline:before{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: 1.5px;
    content: "";
    background-color: #ffffff;

}
.timeline > li.timeline-inverted > .timeline-panel:after{
    right: auto;
    left: 14px;
    border-right-width: 14px;
    border-left-width: 0;

}
.timeline > li.last-child{
    margin-bottom: 0;

}
.timeline timeline-heading h4, .timeline-heading .subheading{
    margin-top: 0;
    color: inherit;

}
.timeline .timeline-body>ul,
.timeline .timeline-body p{
    margin-bottom: 0;
}
@media(min-width:768px){
.timeline::before{
    left: 50%;

}
.timeline >li{
    min-height: 100px;
    margin-bottom: 100px;

    
}
.timeline >li .timeline-panel{
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;

}
.timeline > li .timeline-image{
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
}
.timeline > li .timeline-image h4, .timeline >li .timeline-image h4{
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
}
.timeline > li.timeline-inverted > .timeline-panel{
    float: right;
    padding: 0 30px, 20px 20px;
    text-align: left;

}
}
@media(min-width:992px){
    
}